<footer class="site-footer border-top border-secondary-subtle mb-3">
  <div class="container text-center mt-3 pt-4">

    <p class="text-muted mb-2">
      Built because spreadsheets weren't chaotic enough. Tracking war stats so Jenni doesn't have to. In stars we trust.
    </p>

    <p class="mb-1">
      Designed & developed by
      <strong>magsauce</strong>
      • TH16 • #9ULQGYYY
    </p>

    <div class="d-flex justify-content-center gap-2 mt-3">

      <a href="https://link.clashofclans.com/en?action=OpenPlayerProfile&tag=%239ULQGYYY" target="_blank" class="btn btn-sm btn-fw-primary">
        View Player Profile
      </a>

      <a href="https://discord.gg/MwaqT6F69A" target="_blank" class="btn btn-sm btn-outline-light">
        Join Discord
      </a>

      <a href="https://github.com/maggiebarton/coc-app" target="_blank" class="btn btn-sm btn-outline-light">
        GitHub
      </a>

    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>